:host, .form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.questions-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, max-content);
    gap: 2rem;
}

.form-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

mat-radio-button {
    margin: 0 5px;
}

.form-footer {
    display: flex;
    justify-content: start;
    gap: 5px;

    & button:last-of-type {
        margin-left: auto;
    }
}