:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 50vw;
    height: 50vh;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
    position: relative;
    bottom: 5rem;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.details-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
}

.details {
    grid-column: 1/1;

    &:nth-child(1) {
        grid-row: 1/1;
    }

    &:nth-child(2) {
        grid-row: 2/2;
    }

    &:nth-child(3) {
        grid-row: 3/3;
    }

    &:nth-child(4) {
        grid-row: 4/4;
    }

    &:nth-child(5) {
        grid-row: 5/5;
    }

    &:nth-child(6) {
        grid-row: 6/6;
    }
}

.medical-history {
    grid-column: 2/2;
    grid-row: 1/-1;

    & > textarea {
        width: 100%;
        height: 100%;
    }
}

.form-footer {
    display: flex;
    justify-content: space-between;
}