:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 50vw;
    height: 50vh;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
    position: relative;
    bottom: 5rem;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}